<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Pages#about_us
    </h1>
    <h2 class="subtitle">
      Find me in app/views/pages/about_us.html.erb
    </h2>
  </div>
</div>
