<h1 class="title">
  Pages#about_us
</h1><br>

<h2 class="subtitle">
  Find me in app/views/pages/about_us.html.erb
</h2>

<figure class="image is-4by3">
  <%= image_tag("https://via.placeholder.com/128") %>
</figure><br>

<div class="content is-medium">
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>
