<div id="contact">
  <h1 class="title">
    Pages#contact
  </h1><br>

  <h3 class="subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
  </h3><br>

  <%= render 'pages/form' %>
</div>
