<div class="hero-body">
  <div id="contact" class="container has-text-centered">
    <h1 class="title">
      Pages#contact
    </h1>
    <h2 class="subtitle">
      Find me in app/views/pages/contact.html.erb
    </h2>

    <%= render 'pages/form' %>
  </div>
</div>
