<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      BAHAMAS COFFEE ROASTERS
    </h1>
    <h2 class="subtitle">
      HARBOUR ISLAND, BAHAMAS.
    </h2>
  </div>
</div>
