<% flash.each do |key, value| %>
  <div id="notification" class="container">
    <div class="notification <%= flash_class(key) %>">
      <button class="delete"></button>
      <%= value %>
    </div>
  </div>
<% end %>
