<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li><%= link_to "#{copyright_helper}", "https://github.com/bvdmind/bahamas-coffee-roasters", :target => "_blank" %></li>
      </ul>
    </div>
  </nav>
</div>
