<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li><a>&copy Copyright Bahamas Coffee Roasters <%= Time.now.year %>. All rights reserved.</a></li>
      </ul>
    </div>
  </nav>
</div>
